* {
    margin: 0;
}
    
html {
    margin: 0;
}
    
body {
    margin: 0;
}

#main{
    background-color: #ff6b6b;
    font-family: 'Roboto ';
    height: 100%;
    width:100%;
    position:absolute;
    display:flex;
    justify-content: space-around;
    align-content:center;
    flex-direction: column;
}

.header {
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
    /* flex-grow:0.75; */
}
 #title {
    color:#f7fff7; 
    position:relative;
    font-size:55px;
    font-family: 'Roboto';
}

.circlebase {
    border-radius:50%;
}
.outer-circle {
    width: 190px;
    height: 190px;
    border: 5px solid #1A535C;
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.inner-circle {
    width:178px;
    height:178px;
    background:#1A535C;
    position:relative;
    display:flex;
    justify-content: center;
    align-items:flex-start;
    
}

.person.material-icons{
    position:relative;
    color:#f7fff7;
    font-size:120px;

}


.innertext {
    position: absolute;
    margin-top:60%;
    color:#f7fff7;
    font-family: 'Roboto condensed';
    font-size:30px;
    
}

.circle1{
    display:flex;
    justify-content: center;
    align-items: center; 
    position: relative;
    
    
}

.circle2{
    display:flex;
    justify-content: center;
    align-items: center; 
    position: relative;
   
    margin-right:-8%;
 
}

.circles{
    /* flex-grow:2; */
    display:flex;
    justify-content: space-around;
    align-items: flex-end; 
    position: relative;
    flex-basis:300px
}

.circ2.circlebase.outer-circle{
    border: 5px solid #4ecdc4;
}

.circ2.circlebase.inner-circle{
    background:#4ecdc4;
    
}

.menu-options {
    display:flex;
    justify-content:space-around;
    align-items:flex-end;
    position:relative;
    flex-basis:100px;
    /* flex-grow:1.5; */

}

.menu-circle.circlebase{
    width:50px;
    height:50px;
    background:#f7fff7;
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
}
.m1.material-icons {
    position:relative;
    color:lightslategrey;
    font-size:33px;
}


.location {
    display:flex;
    position: relative;
    justify-content: center;
    align-items: flex-end;

}

.location1.material-icons {
    position:relative;
    color:#f7fff7;
    font-size:60px;
    
}

.complete_address{
    display:flex;
    position: relative;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
}
.address1 {
    position:relative;
    color:lightgray;
    font-size:17px;
    font-family: 'roboto'
}
.address2 {
    position:relative;
    color:#f7fff7;
    font-size:27px;
    font-family: 'roboto'
    
    
}
